@mixin button-size($fSize: 20px, $width: 13em, $height: 3em) {
  width: $width;
  height: $height;
  font-size: $fSize;
}

.default {
  border: 1px solid black;
  cursor: pointer;
  font-weight: 100;
  background-color: transparent;
  border-radius: 50px;
  transition: 0.3s;
  font-family: Georgia, "Times New Roman", Times, serif;
  &:hover {
    transform: scale(1.1); /* Увеличение на 10% при наведении */
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.customMarginButton {
  margin-top: 30px;
  display: inline-block;
}

.small {
  @include button-size(10px, 13em, 3em);
}

.middle {
  @include button-size(15px, 13em, 3em);
}

.large {
  @include button-size();
}
