.like {
  background-color: white;
  border-radius: 50%;
  display: flex;
  margin: 100px;
  justify-content: center;
  width: 200px;
  height: 200px;
  align-items: center;
  font-size: 100px;
}

.registrationborder {
  margin: 30px 0 0 200px;
  font-weight: 100;
  font-size: 15px;
  width: 200px;
  height: 50px;
  background-color: #85dcb8;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.registrationeasy {
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 35%;
  justify-content: right;
}

.movepage {
  font-size: 25px;
  background: transparent;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
}
