* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Serif";
  src: url(./Fonts/NotoSerif-Regular.ttf);
}

body {
  font-family: "Noto Serif";
  overflow: hidden;
}

.navbar {
  padding-right: 15px;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #41b3a3;
  align-items: center;
  justify-content: space-between;
}

.all-button {
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar__content__left-btn {
  padding-left: 350px;
  margin-left: 150px;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.navbar__content__right-btn {
  width: 35%;
  display: flex;
  justify-content: right;
}

/* .navbar__link {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
} */

.login-block {
  height: 903px;
}

.login-block__upper-block__animated-text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6ab193;
}

.login-block__down-block__block-with-logo {
  display: flex;
  background-color: #85dcb8;
  width: 100%;
  height: 50%;
  justify-content: space-between;
}

.login-block__down-block__text {
  padding-top: 100px;
  padding-right: 250px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-out forwards;
}

.login-block__down-block__text h2 {
  padding-top: 15px;
  font-weight: 100;
}

.login-block__down-block__text button:hover {
  background-color: #75c0a1;
}

.login-block__animated-text {
  font-size: 36px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-out forwards;
}

.login-block__animated-text strong {
  color: #ff0000;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-image: url(./components/img/ZanMi.jpg);
  background-repeat: repeat;
  text-align: center;
}

.main__loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./components/img/ZanMi.jpg);
  background-repeat: repeat;
}

.main__block-img {
  display: flex;
  border: 30px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin-top: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main__content1 {
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.main__img {
  width: 500px;
  height: 665px;
}

.button_img {
  justify-content: space-between;
  display: flex;
}

.hearth {
  margin-top: 15px;
  width: 70%;
  height: 70%;
}

.button-reg {
  margin-top: 30px;
}

.login-block__down-block__text__h2 {
  margin-bottom: 30px;
}
