.myBtn {
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  background: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
